{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Nations and Capitals</title>
  
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4 text-center">World Nations and Capitals</h1>
  
        <div class="row mb-4">
            <div class="col-6">
                <h4 class="text-3xl font-bold mb-4"> Regions: {% include 'nations/region.html' %}</h4>
            </div>
            <div class="col-6">
                <h4 class="text-3xl font-bold mb-4"> Subregions: {% include 'nations/subregion.html' %} </h4>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <h4 class="text-3xl font-bold mb-4"> Countries: {% include 'nations/country.html' %} </h4>
            </div>
            <div class="col-4">
                <h4 class="text-3xl font-bold mb-4"> States/Counties:  {% include "nations/state.html" %} </h4>
            </div>       
            <div class="col-4">
                <h4 class="text-3xl font-bold mb-4"> Cities: {% include 'nations/city.html' %} </h4>
            </div>
        </div>

        </div>

</body>
{% endblock content %}
